.about {
  display: none;
  padding-top: 0;

  &__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__list {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }

  &__item {
    position: relative;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__img-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &__img-desc {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
