.features {
  padding-top: 60px;
  padding-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    @media screen and (min-width: 1200px) {
      
    }
  }

  &__item {
    // max-width: 450px;

    @media screen and (min-width: 768px) {
      width: 354px;
                }

    @media screen and (min-width: 1200px) {
      width: 270px;
         }

    &:last-child {
      margin-right: 0;
    }
  }

  &__tile {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;


@media screen and (min-width: 768px) {
  text-align: left;
  }

  @media screen and (min-width: 1200px) {
   
  }
    
  }

  &__desc {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
      }

  &__icon-container {
    display: flex;
    // max-width: 450px;
    height: 120px;
    background-color: var(--light);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}
