.nav {
display: none;

@media screen and (min-width: 768px){
  display: block;
}

    @media screen and (min-width: 1200px) {
      display: flex;
      margin-right: auto;  
    }

  &__list {
    display: flex;
    gap: 40px;
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;

    &--current {
      position: relative;
      color: var(--accent-text-color);

      &::after {
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: #2196f3;
      }
    }

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }
}
