.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
      font-size: 36px;
        line-height: 1.2;
    }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  @media screen and (min-width: 1200px) {
      width: 226px;
    }

  @media screen and (min-width: 1200px) {
      width: 170px;
    }

  &:hover,
  &:focus {
    color: #2196f3;
    border: 1px solid #2196f3;
  }
}

.client__icon {
  fill: currentColor;
}
