.hero__btn {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 24px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

    @media screen and (min-width: 1200px) {
        padding: 10px 32px;
      }

  &:hover,
  &:focus {
    background-color: #188ce8;
    border: none;
  }
}

.footer-subscribe-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  
  
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;

    @media screen and (min-width: 1200px) {
       margin-left: 12px;
          justify-content: center;
          
      }

  &__text {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      color: #ffffff;
    }
  
    &__icon {
      margin-left: 10px;
      fill: #ffffff;
    }
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover,
  &:focus {
      fill: #2196f3;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.register-form-btn {
  display: inline-flex;
  align-items: center;
  text-align: center;

  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.filtr-butoon {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: inherit;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: var(--light);
  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition-property: color, background-color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    }
}

.filtr-butoon:hover,
.filtr-butoon:focus,
.current {
  color: #ffffff;
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

