.modal-form {
  text-align: center;

  &__title {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
  }
}

.register-form__wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.register-form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.register-form__input,
.placeholder-text {
  padding: 11px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.placeholder-text {
  resize: none;
  height: 120px;
  padding: 12px 16px;

  &::placeholder {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.register-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--main-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form__input:hover + .register-form__icon,
.register-form__input:focus + .register-form__icon {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form__input:hover,
.register-form__input:focus-within {
  border-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;

  &__text {
    margin-left: 8px;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    text-underline-position: under;
    user-select: none;

      @media screen and (min-width: 1200px) {
          font-size: 14px;
        }
  }

  &__link {
    color: #2196f3;
  }
}

.register-checkbox:checked + .register-icon .register-icon-uncheck {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-checkbox:checked + .register-icon .register-icon-check {
  opacity: 1;
  background: #2196f3;
}

.register-checkbox:checked + .register-icon {
  background-color: #2196f3;
}

.register-icon-check {
  opacity: 0;
  fill: #ffffff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
